.blur-overlay {
  position: fixed;
  inset: 0;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.4s ease;
}

.modal-header .btn-close{
filter: none;
}

.password-modal-wrapper {
  width: 100%;
  max-width: 550px;
  border-radius: 20px;
}

.change-password-modal .modal-content {
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 1.5rem;
}

.password-toggle {
  cursor: pointer;
  border-left: none;
  border-radius: 0 12px 12px 0;
  display: flex;
  align-items: center;
}
